.cart-header{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    font-size: max(0.8vw, 12px);
    color: grey;
}

.cart-list-item{

}

.cart-item{
    margin: 10px 0px;
}

.cart-item-image{
    width: 70px;
    height: 70px;
}

.remove-icon{
    width: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.remove-icon:hover{
    transform: scale(1.2);
}

.split-item-hr{
    height: 1px;
    border: none;
    background-color: #e2e2e2;
}