.explore-menu{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.explore-menu h1{
    color: var(--text-normal-color);
    font-weight: 500;
}

.explore-menu-list{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 10px 0px;
    overflow-x: scroll; 
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explore-menu-text{
    max-width: 60%;
    columns: #808080;
}

.explore-menu-list-item img{
    width: 7.5vw;
    height: 7.5vw;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.explore-menu-list-item p{
    color: var(--text-color);
    margin-top: 10PX;
    font-size: max(1vw, 16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid var(--primary-color);
}

@media (max-width: 1598px) {
    .explore-menu-list{
        padding-bottom: 10px;
    }

    .explore-menu-list-item p{
        font-size: 14px;
        height: 50px;
    }

    .explore-menu hr{
        margin-bottom: 10px;
    }

    .explore-menu{
        gap: 20px;
    }
}

@media (max-width: 750px) {
    .explore-menu h1{
        font-size: 25px;
    }

    .explore-menu-text{
        font-size: 14px;
    }
}