.header{
    height: 34vw;
    margin: 30px auto;
    background: url(../../../background_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.header .header-contents{
    position: absolute;
    align-items: start;
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    max-width: 55%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: var(--white);
    font-size: max(4vw, 22px);
}

.header-contents p{
    color: var(--white);
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 1vw 2.2vw;
    background-color: var(--white);
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}