.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    height: 100px;
    width: 100px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 50px;
    color: var(--text-color);
    font-size: 18px;
}

.ic-navbar {
    height: 30px;
    width: 30px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 70px;
}

.btn-sign-in {
    background: transparent;
    font-size: 16px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.btn-sign-in:hover {
    background-color: var(--primary-hover-color);
}

.navbar .navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--text-color);
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1090px){
    .navbar-menu li{
        font-size: 15px;
    }

    .navbar .logo {
        width: 90px;
        height: 90px;
    }

    .ic-navbar {
        height: 25px;
        width: 25px;
    }

    .btn-sign-in{
        padding: 10px 20px;
    }

    .navbar-menu {
        gap: 35px;
    }

    .navbar-right {
        gap: 40px;
    }
}

@media (max-width: 900px){
    .navbar-menu li{
        font-size: 13px;
    }

    .navbar .logo {
        width: 80px;
        height: 80px;
    }

    .ic-navbar {
        height: 20px;
        width: 20px;
    }

    .btn-sign-in{
        padding: 5px 14px;
    }

    .navbar-menu {
        gap: 25px;
    }

    .navbar-right {
        gap: 20px;
    }
}

@media (max-width: 688px){
    .navbar-menu{
        display: none;
    }

    .navbar .logo {
        width: 80px;
        height: 80px;
    }

    .ic-navbar {
        height: 20px;
        width: 20px;
    }

    .btn-sign-in{
        padding: 5px 14px;
    }

    .navbar-menu {
        gap: 25px;
    }

    .navbar-right {
        gap: 20px;
    }
}