.social-media-container{
    margin: 100px 0px;
}

.tiktok-social-media-container{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 100px;
    overflow-x: scroll;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.social-media-container hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.social-media-container h1{
    margin-bottom: 50px;
}