.group-btn-download-app{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.wrap-btn-download-ch-play, .wrap-btn-download-app-store{
    display: flex;
    background-color: black;
    color: var(--white);
    width: 200px;
    height: 60px;
    align-items: center;
    border-radius: 12px;
    gap: 10px;
    padding-left: 15px;
    cursor: pointer;
}

.img-btn-ch-play, .img-btn-app-store{
    width: 35px;
    height: 35px;
}

.container-footer-download-app h1{
    width: max(38vw, 400px);
    font-weight: 500;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
}

.brand-store{
    font-size: 22px;
    font-weight: 400;
}

.tooltip-btn-download{
    font-size: 12px;
    color: var(--text-gray1-color);
}

.group-btn-social-company{
    display: flex;
    gap: 20px;
}

.wrap-btn-facebook, .wrap-btn-twitter, .wrap-btn-linkedin{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-facebook, .btn-twitter, .btn-linkedin{
    width: 20px;
    height: 20px;
}

.container-footer-info-company{
    display: grid;
    gap: 80px;
    grid-template-columns: 2fr 1fr 1fr;
}

.content-footer{
    background-color: var(--background-footer-color);
    margin-top: 40px;
    padding: 0 150px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.content-footer-left, .content-footer-center, .content-footer-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-item-info-company li, .list-item-get-in-touch li{
    list-style: none;
    margin-bottom: 10px;
}

.content-footer-left .company-name{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 500;
}

.description-about-company p{
    font-size: 15px;
    color: var(--text-gray1-color);
    text-align: justify;
}

.content-footer-center h1, .content-footer-right h1{
    color: var(--text-normal-color);
}

.list-item-info-company, .list-item-get-in-touch{
    color: var(--text-gray1-color);
}

.footer-hr{
    height: 2px;
    background-color: #e2e2e2;
    border: none;
    margin: 50px 0px;
}

.footer-copy-right{
    text-align: center;
    padding-bottom: 30px;
    color: var(--text-gray1-color);
}

@media (max-width: 1044px) {
    .container-footer-info-company{
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .content-footer-left .company-name{
        font-size: 40px;
    }

    .content-footer-center h1, .content-footer-right h1{
        font-size: 30px;
    }
    
    .content-footer{
        margin-top: 40px;
        padding: 0 50px;
        padding-top: 60px;
        padding-bottom: 10px;
    }
}

@media (max-width: 422px) {
    .tooltip-btn-download{
        font-size: 10px;
    }

    .brand-store{
        font-size: 18px;
        font-weight: 400;
    }
}

.wrap-btn-download-ch-play:hover, .wrap-btn-download-app-store:hover{
    transform: scale(1.05);
    transition: 0.5s;
}